In [1]:
'hello world'

'hello world'

In [5]:
dicionario = {}

In [7]:
type(dicionario)

dict

In [8]:
funcionario={}

In [9]:
funcionario["1"]="Astolfo"

In [10]:
funcionario

{'1': 'Astolfo'}

In [2]:
numero={}

numero ["Maria"]=30301122
numero ["carlos"]=33547877
numero ["Ana"]=33381245
numero ["Mario"]=364588

In [3]:
numero

{'Maria': 30301122, 'carlos': 33547877, 'Ana': 33381245, 'Mario': 364588}

In [5]:
del(numero["Maria"])

In [6]:
numero

{'carlos': 33547877, 'Ana': 33381245, 'Mario': 364588}

In [9]:
numero.keys()

dict_keys(['carlos', 'Ana', 'Mario'])

In [10]:
numero["carlos"]

33547877

In [14]:
def printar(nome):
    print("nome=",nome)

In [15]:
nome="maria"
printar(nome)

nome= maria

In [19]:
def formatar_nome(nome,sobre_nome):
    return nome + " " + sobre_nome

In [22]:
nome = "ferreira"
sobre_nome = "lindo"
formatar_nome(nome, sobre_nome)

'ferreira lindo'

In [26]:
def soma(x, y):
    return x+ y

In [27]:
x=10
y=10
soma(x, y)

20

In [23]:
numero = int (input(print("escreva o numero")))
print(f"o dobro é {numero * 2}")
print(f"o triplo é {numero * 3}")
print(f" a raiz quadrada é {numero**(1/2):.3f}")

escreva o numero
o dobro é 20
o triplo é 30
 a raiz quadrada é 3.162

In [11]:
notas = [6,8,10]
nome = input (('insira um nome'))

In [13]:
def funcao (notas, nome):
    return{
        "nome" : nome,
        "nota 1" : notas[0],
        "nota 2" : notas[1],
        "nota 3" : notas[2],
        "media" : sum(notas) / len(notas)

    }
print(funcao(notas,nome))

{'nome': 'lucas', 'nota 1': 6, 'nota 2': 8, 'nota 3': 10, 'media': 8.0}

In [14]:
2**2

4

In [15]:
2**3

8

# crie uma funçao para cada operaçao a seguir passando o valor x como parametro 
- quadrado
- cubo

In [22]:
def funcao(numero):
  return numero**2, numero**3

In [23]:
funcao(5)

(25, 125)

In [3]:
nota1 = float(input())
nota2 = float(input())
print(f"media:{(nota1 + nota2) /2}")

media:25.0

In [5]:
metro = float(input())
print(f"converta metros para cm:{metro*1000}")

converta metros para cm:20000.0

In [8]:
valor = float(input())
print(f"converta o real pro dolar:{valor * 3.27:.2f}")

converta o real pro dolar:327.00